//Fonts
$base-font-family: Arial, sans-serif !default;
$sans_pro : 'Source Sans Pro', sans-serif;

//Colors
$blue1  : #007dbf;
$blue2  : #006699;
$blue3  : #0099cc;
$green1 : #99cc33;
$gray   : #b8b4b4;
$red    : #ff0000;